$value-mb: 25px;

.intro {
  max-width: 1180px;
  margin: 0 auto;
  padding: 80px 20px;
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1180px) {
      flex-direction: column;
    }
  }

  @media (max-width: 1180px) {
    max-width: 800px;
  }
}

.block {
  width: 360px;
  &__img {
    width: 100%;
    height: 370px;
    margin-bottom: $value-mb;
    object-fit: cover;
    object-position: top;
    &_bottom {
      margin-bottom: 0;
      object-position: center;
    }
    &_center {
      object-position: center;
      margin-bottom: 0;
    }
  }
  &__content {
    padding: 30px;
    &_end {
      margin-bottom: $value-mb;
    }
  }
  &__title {
    margin-bottom: $value-mb;
  }
  &__text {
    margin-bottom: $value-mb;
  }
  &__link {
    border-bottom: 1px solid;
  }
  &_center {
    align-self: center;

    @media (max-width: 1180px) {
      align-self: auto;
    }
  }
  &_end {
    align-self: flex-end;

    @media (max-width: 1180px) {
      align-self: auto;
    }
  }

  @media (max-width: 1180px) {
    margin-bottom: $value-mb;
    max-width: 760px;
    width: 100%;
  }
}
