*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #111111;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #111111;
  background: #ffffff;
}
